
#info {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: cursive;
}

#info .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-productos > img {
    width: 180px;
    height: 180px;
    border: solid 7px white;
    object-fit: cover;
    border-radius: 30%;
    transition: all 0.5s;
}

.info-productos > article > img:hover {
    border-radius: 0;
    transform: scale(1.1);
}

.info-productos > article > img:active {
    border-radius:50%;
}

.info-productos {
    margin: 20px;
}